# Build results
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/Debug/
x64/Release/
*.exe
*.dll
*.lib
*.app
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.ncb
*.sdf
*.opensdf
*.ipch
*.cachefile

# Logs
*.log

# Others
*.res
*.aps
*.rsp
*.tmp
*.bak
*.obj

# Ignore folder created by Resharper or Rider
.idea/
_ReSharper*/


Thumbs.db
Desktop.ini
